.new-line{
    height: 1px;
    background: #E5E5E5;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}
.h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;

    
}
.h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Roboto Condensed';
}
.item{
    
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #E5E5E5 solid;

    
}

.column_1{
    width: 292px;
    
}
.item-brand{
    
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    line-height: 77%;
    font-family: 'Raleway';
}
.item-name{
    font-size: 30px;
    font-family: 'Raleway';
    line-height: 27px;
    line-height: 77%;

}


.item-price{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    line-height: 85%;
    font-family: 'Raleway';
}

.column_2{
    width: 350px;
    display: flex;
    height: fit-content;
    
}
.quantity-control{
    flex: 1;
    display: flex;
    align-content: space-between;
    margin-right: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.quantity-control button{
    font-size: x-large;
    margin-top: 10px;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 1px #1D1F22 solid;
    font-weight:100 ;
    font-weight: 100;
    cursor: pointer;
}
.quantity-control div{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: 'Raleway';
    
}

.item-image{
    flex: 6;
}
.img-box {
    position: relative;
    overflow: hidden;
}

.img-toggler{
    position: absolute;
    right: 15px;
    bottom: 7px;
    display: flex;
    gap: 10px;
}
.img-toggler button{
    background: #1D1F22;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    
}

.size-button{
    background: #1D1F22;
    color: white;
    font-size: large;
    border: 2px solid #1D1F22;
    /* min-width: 55px; */
    padding: 5px;
    height: 45px;
    margin-right: 10px;
}
.size-button:hover{
    background: #1D1F22;
    color: white;
}
.color-button{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.item-summary{
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.item-summary p span{
    font-weight: 700;
}
.item-summary .main-cart-total{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}


.main-cart-size-button{
    padding: 1px;
    
    border: 2px solid #1D1F22;
    margin-bottom: 2px;
    margin-right: 8px;
    font-size: 14px;
    background: transparent;
    width: 55px;
    height: 45px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}
.main-cart-size-button-active{
    background: #1D1F22;
    color: white;
}
.main-cart-color-button{
    min-width: 36px;
    height: 36px;
    margin-right: 8px;
    margin-bottom: 4px;
    
}
.main-cart-color-button-active{
    transform:scale(1.1, 1.1) ;
    outline: #5ECE7B 1px solid;
    border: 2px solid whitesmoke;
    outline-offset: 1px;
}

@media(max-width:760px){
    .item-brand{
        font-size: 20px;
    }
    .item-name{
        font-size: 18px;
    }
}

